#about{

	position: relative;
	background-color: #e8e8e8;

	/**

	&::after//, &::before 
	{
		content: ' ';
		display: block;
		height: 100px;
		width: 100%;
		background: white;
		
		position: absolute;
		left: 0;
		overflow: hidden;
	}

	&::after {
		bottom: -40px;
		@include transform(skewY(3deg));
	}

	&::before {
		//top: -40px;
		//@include transform(skewY(-3deg));
	}

	h2 {
		font-family: 'Sherina';

		.bride & {
			color: $wedding-pink;
		}

		.groom & {
			color: $wedding-blue;
		}
	}**/



	.container-fluid {
		position: relative;

	}
}