#about{

	background: url(/images/reception-photo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: white;

	//overflow: hidden;

	height: 500px;

	.container-fluid {

		@include fill-height();
		padding-top: 50px;
		background-color: transparentize(pink, 0.1);


	}
}