@font-face {
  font-family: 'BigCaslon';
  src: url('/fonts/BigCaslon.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sherina';
  src: url('/fonts/Sherina.ttf');
  font-weight: normal;
  font-style: normal;  
}

body {
    font-family: 'BigCaslon';
}

.header{
	h1 {
		font-family: 'Sherina';
	}
}

.header-unit {
  height: 600px;
  border: 2px solid #000;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  background: none;
  color: white;
}

#video-container {
	position: absolute;
}

#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}

video {
	position:absolute;
	z-index:-1;
}

video.fillWidth {
	width: 100%;
}