@font-face {
  font-family: 'BigCaslon';
  src: url('/fonts/BigCaslon.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sherina';
  src: url('/fonts/Sherina.ttf');
  font-weight: normal;
  font-style: normal;  
}

body {
  font-family: 'BigCaslon';
}

h1, h2, h3, h4, h5, h6  {
	//font-family: 'Sherina';
}

.section {
	//min-height: 500px;
  background-color: white;
}

header {
  .container-fluid {
    //@include vertical-align();
  }
}