@font-face {
	font-family: "New-Year-Proposals";
	src: url("/fonts/new-year-proposals/new-year-proposals.eot");
	src: url("/fonts/new-year-proposals/new-year-proposals.eot#iefix") format("embedded-opentype"),
	url("/fonts/new-year-proposals/new-year-proposals.woff") format("woff"),
	url("/fonts/new-year-proposals/new-year-proposals.ttf") format("truetype"),
	url("/fonts/new-year-proposals/new-year-proposals.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="new-year-proposals-"]:before, [class*=" new-year-proposals-"]:before,
[class^="new-year-proposals-"]:after, [class*=" new-year-proposals-"]:after {   
	font-family: New-Year-Proposals;
    font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}

.new-year-proposals-accomodation1:before {
	content: "\e000";
}
.new-year-proposals-avatar4:before {
	content: "\e001";
}
.new-year-proposals-babies:before {
	content: "\e002";
}
.new-year-proposals-baby145:before {
	content: "\e003";
}
.new-year-proposals-baby146:before {
	content: "\e004";
}
.new-year-proposals-baby carriage:before {
	content: "\e005";
}
.new-year-proposals-bank16:before {
	content: "\e006";
}
.new-year-proposals-bar26:before {
	content: "\e007";
}
.new-year-proposals-basket32:before {
	content: "\e008";
}
.new-year-proposals-bills:before {
	content: "\e009";
}
.new-year-proposals-birthday2:before {
	content: "\e00a";
}
.new-year-proposals-briefcase66:before {
	content: "\e00b";
}
.new-year-proposals-camper:before {
	content: "\e00c";
}
.new-year-proposals-cheese14:before {
	content: "\e00d";
}
.new-year-proposals-coins1:before {
	content: "\e00e";
}
.new-year-proposals-commerce:before {
	content: "\e00f";
}
.new-year-proposals-credit2:before {
	content: "\e010";
}
.new-year-proposals-cruse:before {
	content: "\e011";
}
.new-year-proposals-currency13:before {
	content: "\e012";
}
.new-year-proposals-cycling5:before {
	content: "\e013";
}
.new-year-proposals-diet1:before {
	content: "\e014";
}
.new-year-proposals-diet2:before {
	content: "\e015";
}
.new-year-proposals-direction23:before {
	content: "\e016";
}
.new-year-proposals-dive2:before {
	content: "\e017";
}
.new-year-proposals-dollar:before {
	content: "\e018";
}
.new-year-proposals-dollar symbol:before {
	content: "\e019";
}
.new-year-proposals-drink81:before {
	content: "\e01a";
}
.new-year-proposals-drink82:before {
	content: "\e01b";
}
.new-year-proposals-dumbbell:before {
	content: "\e01c";
}
.new-year-proposals-dumbell:before {
	content: "\e01d";
}
.new-year-proposals-earn1:before {
	content: "\e01e";
}
.new-year-proposals-ekg:before {
	content: "\e01f";
}
.new-year-proposals-fish1:before {
	content: "\e020";
}
.new-year-proposals-flower165:before {
	content: "\e021";
}
.new-year-proposals-flying:before {
	content: "\e022";
}
.new-year-proposals-football:before {
	content: "\e023";
}
.new-year-proposals-fruit42:before {
	content: "\e024";
}
.new-year-proposals-fruits1:before {
	content: "\e025";
}
.new-year-proposals-hand227:before {
	content: "\e026";
}
.new-year-proposals-healthy food4:before {
	content: "\e027";
}
.new-year-proposals-healthy food5:before {
	content: "\e028";
}
.new-year-proposals-healthy food6:before {
	content: "\e029";
}
.new-year-proposals-hearts17:before {
	content: "\e02a";
}
.new-year-proposals-heart:before {
	content: "\e02b";
}
.new-year-proposals-holidays3:before {
	content: "\e02c";
}
.new-year-proposals-house173:before {
	content: "\e02d";
}
.new-year-proposals-incomes2:before {
	content: "\e02e";
}
.new-year-proposals-kids2:before {
	content: "\e02f";
}
.new-year-proposals-location72:before {
	content: "\e030";
}
.new-year-proposals-location73:before {
	content: "\e031";
}
.new-year-proposals-love4:before {
	content: "\e032";
}
.new-year-proposals-love56:before {
	content: "\e033";
}
.new-year-proposals-love60:before {
	content: "\e034";
}
.new-year-proposals-measure3:before {
	content: "\e035";
}
.new-year-proposals-medicine:before {
	content: "\e036";
}
.new-year-proposals-money147:before {
	content: "\e037";
}
.new-year-proposals-money148:before {
	content: "\e038";
}
.new-year-proposals-money149:before {
	content: "\e039";
}
.new-year-proposals-money150:before {
	content: "\e03a";
}
.new-year-proposals-money bag1:before {
	content: "\e03b";
}
.new-year-proposals-movie48:before {
	content: "\e03c";
}
.new-year-proposals-mp315:before {
	content: "\e03d";
}
.new-year-proposals-notification6:before {
	content: "\e03e";
}
.new-year-proposals-pass3:before {
	content: "\e03f";
}
.new-year-proposals-passport7:before {
	content: "\e040";
}
.new-year-proposals-picture-taking:before {
	content: "\e041";
}
.new-year-proposals-pie1:before {
	content: "\e042";
}
.new-year-proposals-pipe8:before {
	content: "\e043";
}
.new-year-proposals-protection:before {
	content: "\e044";
}
.new-year-proposals-proteins:before {
	content: "\e045";
}
.new-year-proposals-public-transport1:before {
	content: "\e046";
}
.new-year-proposals-rings4:before {
	content: "\e047";
}
.new-year-proposals-safari7:before {
	content: "\e048";
}
.new-year-proposals-sail1:before {
	content: "\e049";
}
.new-year-proposals-savings1:before {
	content: "\e04a";
}
.new-year-proposals-savings2:before {
	content: "\e04b";
}
.new-year-proposals-search111:before {
	content: "\e04c";
}
.new-year-proposals-shoes13:before {
	content: "\e04d";
}
.new-year-proposals-shrimp:before {
	content: "\e04e";
}
.new-year-proposals-silhouette81:before {
	content: "\e04f";
}
.new-year-proposals-smoking10:before {
	content: "\e050";
}
.new-year-proposals-smoking9:before {
	content: "\e051";
}
.new-year-proposals-sports ball1:before {
	content: "\e052";
}
.new-year-proposals-sports ball:before {
	content: "\e053";
}
.new-year-proposals-sprig2:before {
	content: "\e054";
}
.new-year-proposals-sprint:before {
	content: "\e055";
}
.new-year-proposals-stick man1:before {
	content: "\e056";
}
.new-year-proposals-stick man2:before {
	content: "\e057";
}
.new-year-proposals-suit3:before {
	content: "\e058";
}
.new-year-proposals-suitcases1:before {
	content: "\e059";
}
.new-year-proposals-tepee:before {
	content: "\e05a";
}
.new-year-proposals-timer:before {
	content: "\e05b";
}
.new-year-proposals-toast1:before {
	content: "\e05c";
}
.new-year-proposals-vegan:before {
	content: "\e05d";
}
.new-year-proposals-video1:before {
	content: "\e05e";
}
.new-year-proposals-wedding13:before {
	content: "\e05f";
}
.new-year-proposals-wedding14:before {
	content: "\e060";
}
.new-year-proposals-wedding15:before {
	content: "\e061";
}
.new-year-proposals-weightlifting4:before {
	content: "\e062";
}
.new-year-proposals-winners3:before {
	content: "\e063";
}
