@mixin font($font-size:16px,$color:$text-color-default) {
  $font-flat-ui: ($font-size / 14); 
  font-size: ($font-flat-ui * 18);
  font-weight:normal;
  color: $color;
}



@mixin a-color($color, $color-active: mix($color, black, 80%)) {
  color: $color;

  &:hover,
  &:focus,
  &.active {
    color: $color-active;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin fill-height {
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}