.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2c3e50;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-collapse {
    padding: 0;
}

.navbar-custom .nav li.active {
    outline: 0;
    color: #000;
    background-color: inherit;
}

.navbar-custom .nav li a {
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a {
    outline: 0;
    color: #1db577;
    background-color: inherit;
}

.navbar-brand-container {
    position: fixed;
    top: 0;
    left: 15%;
}

.navbar-brand-container .navbar-brand {
    padding: 15px 10px;
    background-color: #1db577;
}

@media (min-width: 767px) {

    .navbar {
        border: 0;
        border-radius: 0;
        letter-spacing: 1px;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}