/* Coolors Exported Palette - coolors.co/ffeff0-ffffff-d3d3d3-afc2d5-ccddd3 */

$wedding-pink: #FDCECE; //#ffeff0;
$wedding-white: #ffffff;
$wedding-grey: #d3d3d3;
$wedding-blue: #afc2d5;
//$wedding-green: #ccddd3;
$wedding-green: #81CFE0;