.parallax {
    position: relative;
    overflow: hidden;
    height: 80vh !important;
    width: 100vw;
}

.parallax .parallax-bg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.parallax .parallax-bg.parallax-bg-1 {
    background: url(/images/engagements-02@1x.jpg) no-repeat center center;
    background-size: auto 100vh;
}

@media (min-width: 1280px) {

    .parallax .parallax-bg.parallax-bg-1 {
        background-size: 100vw auto;
    }
}

.parallax .parallax-bg.parallax-bg-2 {
    background: url(/images/engagements-03@1x.jpg) no-repeat center center;
    background-size: auto 100vh;
}

@media (min-width: 1280px) {

    .parallax .parallax-bg.parallax-bg-2 {
        background-size: 100vw auto;
    }
}

#spacer2 {
    background: url(/images/wedding-photo.jpg) no-repeat center 35%;
    background-size: cover;
    color: white;
    height: 500px;
}