#schedule {

	.container-fluid {

		.icon {
			margin: 15px auto;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			&.camera-icon {
				background: black url('/images/icon-camera@1x.png') no-repeat center 30%;
			}
			&.ring-icon {
				background: black url('/images/icon-ring-white@1x.png') no-repeat center 50%;
			}	
			&.glasses-icon {
				background: black url('/images/icon-glasses-white@1x.png') no-repeat center 30%;
			}		
			
		}

	}	
}